
body {
    margin: 0;
    background: #e8f7f3;
    font-family: Arial, sans-serif;
}


.navbar {
    background: #0aa57f;
    padding: 15px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar ul {
    list-style: none;
    display: flex;
    gap: 25px;
}

.navbar ul li a {
    color: white;
    text-decoration: none;
    font-size: 16px;
}

.logo {
    color: white;
    font-size: 22px;
    font-weight: bold;
}


.hero-section {
    text-align: center;
    margin-top: 40px;
}

.hero-box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 12px;
    
}

.hero-box {
    width: 300px;
    height: 300px;
    background: #ffffff;
    border-radius: 20px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
}
.hero-container{
    display: flex;
    flex-direction: row;
    gap: 100px;
    margin:40px;
    justify-content: center;
    align-items: center;
}


.page-container {
    width: 70%;
    margin: 40px auto;
    background: white;
    padding: 25px;
    border-radius: 12px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}

.story-box {
    background: #f7f7f7;
    padding: 15px;
    border-radius: 10px;
    margin-bottom: 15px;
}


.comment-box {
    width: 100%;
    margin-top: 30px;
    background: #ffffff;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}

.comment-input {
    width: 95%;
    height: 80px;
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #ccc;
}

.comment-btn {
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    background: #0aa57f;
    color: white;
    cursor: pointer;
}

.comment {
    background: #f3f3f3;
    padding: 10px;
    border-radius: 8px;
    margin-top: 10px;
}
.signup-form{
    display: flex;
    flex-direction: column;
    margin:40px;
    width: 300px;


}
.comment-section {
    width: 90%;
    max-width: 600px;
    margin: 20px auto;
}

#commentInput {
    width: 100%;
    height: 90px;
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #ccc;
}

#submitComment {
    margin-top: 8px;
    padding: 8px 16px;
    cursor: pointer;
    border-radius: 8px;
    background-color: #5b7cff;
    color: white;
    border: none;
}

.comment-box {
    background: #f2f4ff;
    padding: 12px;
    border-radius: 10px;
    margin-top: 10px;
}

.delete-btn {
    margin-top: 5px;
    padding: 5px 10px;
    border: none;
    background: #ff6b6b;
    color: white;
    border-radius: 6px;
    cursor: pointer;
}
